* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #3b4664;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.calculator {
  width: 100%;
  min-height: 14vh;
  max-width: 350px;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.output {
  grid-column: 1/5;
  background-color: #181f32;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  letter-spacing: 0.10rem;
  word-break: break-all;
  word-wrap: break-word;
}

.calculator-buttons {
  width: 100%;
  min-height: 43vh;
  max-width: 350px;
  padding: 1.25rem;
  background-color: #252d44;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border-radius: 0.5rem;
}
.calculator-buttons button {
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.btn {
  background-color: #eae3db;
  color: #3b4664;
}
.span-two {
  grid-column: span 2;
}
.reset {
  background-color: #647299;
  color: white;
}
.equal {
  background-color: #d13f30;
  color: white;
}
